# Copyright 2025 Advanced Micro Devices, Inc.
#
# Licensed under the Apache License v2.0 with LLVM Exceptions.
# See https://llvm.org/LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception


# This CI runs the following:
#
# 1. proxy with untuned boo and native pytorch
# 2. prod with untuned boo and native pytorch
# 3. gemms with untuned boo and native pytorch

name: CI - Boo on Mi355

on:
  workflow_dispatch:
    inputs:
      commit_hash:
        description: "IREE commit hash"
        required: false
        default: ''
      iree_repo_fork:
        description: "IREE fork"
        required: false
        default: "iree-org/iree"
      iree_version_tag:
        description: "IREE release version tag"
        required: false
        default: ''
      run_prod_conv:
        description: "Run Prod Conv"
        type: boolean
        default: false
      run_all_proxy:
        description: "Run All Proxy"
        type: boolean
        default: false
      run_gemm:
        description: "Run Gemm"
        type: boolean
        default: false
      run_hipblaslt:
        description: "Run hipblaslt gemm"
        type: boolean
        default: false
      run_batch_norm:
        description: "Run Batch Norm"
        type: boolean
        default: false
      # run_prod_conv_nchw:
      #   description: "Run Prod Conv NCHW"
      #   type: boolean
      #   default: false
      # run_all_proxy_nchw:
      #   description: "Run All Proxy NCHW"
      #   type: boolean
      #   default: false
  schedule:
    - cron: "45 11 * * *"

permissions:
  contents: write

concurrency:
  # A PR number if a pull request and otherwise the commit hash. This cancels
  # queued and in-progress runs for the same PR (presubmit) or commit
  # (postsubmit). The workflow name is prepended to avoid conflicts between
  # different workflows.
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  test_boo:
    if: ${{ github.repository_owner == 'nod-ai' || github.event_name != 'schedule' }}
    timeout-minutes: 270
    name: "Boo on Mi355"
    strategy:
      matrix:
        version: [3.12]
      fail-fast: false
    runs-on: linux-mi355-1gpu-ossci-nod-ai
    defaults:
      run:
        shell: bash
    env:
      VENV_DIR: ${{ github.workspace }}/.venv
      IREE_COMMIT_HASH: ${{ inputs.commit_hash }}
      IREE_REMOTE_REPO: ${{ inputs.iree_repo_fork }}
      IREE_VERSION_TAG: ${{ inputs.iree_version_tag }}

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: "Setting up Python"
      id: setup_python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{matrix.version}}

    - name: Create Python venv
      run: |
        python -m venv ${VENV_DIR}
        source ${VENV_DIR}/bin/activate
        sudo ln -s python3 /usr/bin/python
        echo "${VENV_DIR}/bin" >> $GITHUB_PATH

    - name: Setup Environment
      run: |
        mkdir -p output_artifacts
        echo "OUTPUT_ARTIFACTS=$PWD/output_artifacts" >> $GITHUB_ENV
        source ${VENV_DIR}/bin/activate
        python -m pip install --force-reinstall \
          --index-url https://rocm.nightlies.amd.com/v2/gfx950-dcgpu/ \
          --pre torch

        pip install "git+https://github.com/iree-org/iree-turbine.git"

    - name: Install IREE Nightly Packages
      if: ${{ !inputs.commit_hash && !inputs.iree_version_tag }}
      run: |
        pip install -f https://iree.dev/pip-release-links.html --upgrade --pre iree-base-compiler iree-base-runtime
        pip freeze  > $OUTPUT_ARTIFACTS/version.txt

    - name: Install IREE from version tag
      if: ${{ inputs.iree_version_tag != '' }}
      run: |
        pip install \
          --find-links https://iree.dev/pip-release-links.html \
          --upgrade --pre \
          iree-base-compiler==$IREE_VERSION_TAG \
          iree-base-runtime==$IREE_VERSION_TAG
        pip freeze  > $OUTPUT_ARTIFACTS/version.txt

    - name: Install IREE from source
      if: ${{ inputs.commit_hash != '' }}
      run: |
        git clone https://github.com/iree-org/iree.git && cd iree
        git remote add fork_user https://github.com/${IREE_REMOTE_REPO}
        git fetch fork_user
        git checkout ${IREE_COMMIT_HASH}
        git submodule update --init
        export IREE_HAL_DRIVER_HIP=ON
        export IREE_TARGET_BACKEND_ROCM=ON
        export IREE_HIP_TEST_TARGET_CHIP=""
        pip install -v runtime/ compiler/
        pip freeze  > $OUTPUT_ARTIFACTS/version.txt
        HASH=$(git -C . rev-parse --short HEAD)
        sed -i \
          -e "s|iree-base-compiler @ file://[^ ]*|iree-base-compiler $HASH|g" \
          -e "s|iree-base-runtime @ file://[^ ]*|iree-base-runtime $HASH|g" \
          $OUTPUT_ARTIFACTS/version.txt || true

    - name: Print packages
      run: cat $OUTPUT_ARTIFACTS/version.txt

    - name: Run all proxy config
      run: |
       echo "Getting config files"
       git clone --filter=blob:none --no-checkout https://x-access-token:${{ secrets.AMD_SHARK_AI_GITHUB_TOKEN }}@github.com/nod-ai/amd-shark-ai-reports.git
       cd amd-shark-ai-reports
       git sparse-checkout init --cone
       git sparse-checkout set boo/all_proxy_config.txt boo/prod_conv_config.txt boo/gemm_config.txt boo/hipblaslt-bench.sh boo/all_proxy_config_nchw.txt boo/prod_conv_config_nchw.txt boo/batch_norm_config.txt
       git checkout main
       cd -
       source ${VENV_DIR}/bin/activate
       export MIOPEN_FIND_ENFORCE=3
       export ROCR_VISIBLE_DEVICES=0

       if [ "${{ github.event_name }}" = "schedule" ] || [ "${{ inputs.run_prod_conv }}" = "true" ]; then
         echo "============ 1. Running Prod Conv shape with MIOpen and IREE without tuning ==================="
         iree-boo-driver \
              --commands-file amd-shark-ai-reports/boo/prod_conv_config.txt --csv output_artifacts/prod_conv_miopen_iree.csv \
              --backend=torch --backend=iree_boo_experimental || true
       fi

       if [ "${{ github.event_name }}" = "schedule" ] || [ "${{ inputs.run_all_proxy }}" = "true" ]; then
       echo "============ 2. Running All proxy shape with MIOpen and IREE without tuning ==================="
       iree-boo-driver \
            --commands-file amd-shark-ai-reports/boo/all_proxy_config.txt --csv output_artifacts/all_proxy_miopen_iree.csv \
            --backend=torch --backend=iree_boo_experimental || true
       fi
       
       if [ "${{ github.event_name }}" = "schedule" ] || [ "${{ inputs.run_gemm }}" = "true" ]; then
       echo "============ 3. Running Gemm shape with MIOpen and IREE without tuning ======================================="
       iree-boo-driver \
            --commands-file amd-shark-ai-reports/boo/gemm_config.txt --csv output_artifacts/gemm_miopen_iree.csv \
            --backend=torch --backend=iree_boo_experimental || true
       fi

       if [ "${{ github.event_name }}" = "schedule" ] || [ "${{ inputs.run_batch_norm }}" = "true" ]; then
       echo "============ 4. Running Batch norm shape with MIOpen and IREE without tuning ======================================="
       iree-boo-driver \
            --commands-file amd-shark-ai-reports/boo/batch_norm_config.txt --csv output_artifacts/batch_norm_miopen_iree.csv \
            --backend=torch --backend=iree_boo_experimental || true
       fi

       ## Disabling below two run till the time we have failure debugged, which is happening only on runner machine
       #if [ "${{ github.event_name }}" = "schedule" ] || [ "${{ inputs.run_prod_conv_nchw }}" = "true" ]; then
       #echo "============ 4. Running Prod Conv shape with NCHW layout with MIOpen and IREE without tuning ==================="
       #iree-boo-driver \
       #     --commands-file amd-shark-ai-reports/boo/prod_conv_config_nchw.txt --csv output_artifacts/prod_conv_miopen_iree_nchw.csv \
       #     --backend=torch --backend=iree_boo_experimental || true
       #fi

       #if [ "${{ github.event_name }}" = "schedule" ] || [ "${{ inputs.run_all_proxy_nchw }}" = "true" ]; then
       #echo "============ 5. Running All proxy shape with NCHW layout with MIOpen and IREE without tuning ==================="
       #iree-boo-driver \
       #     --commands-file amd-shark-ai-reports/boo/all_proxy_config_nchw.txt --csv output_artifacts/all_proxy_miopen_iree_nchw.csv \
       #     --backend=torch --backend=iree_boo_experimental || true
       #fi

    - name: Run hipblaslt-bench
      run: |
        if [ "${{ github.event_name }}" = "schedule" ] || [ "${{ inputs.run_hipblaslt }}" = "true" ]; then
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o awscliv2.zip
          sudo apt install unzip -y
          unzip awscliv2.zip
          sudo ./aws/install
          tarFileName=`aws s3 ls s3://therock-nightly-tarball/ --recursive --no-sign-request | grep '\.tar\.gz$' | grep linux-gfx950 | sort -r | head -1 |  awk '{print $NF}'`
          echo "Installing $tarFileName"
          wget https://therock-nightly-tarball.s3.us-east-2.amazonaws.com/${tarFileName}
          mkdir install
          tar -xf *.tar.gz -C install
          export PATH=$PWD/install/bin:$PATH

          echo "============= 5. Running Gemm Shape with hipblaslt =============================="
          bash amd-shark-ai-reports/boo/hipblaslt-bench.sh >& output_artifacts/gemm_hipBlaslt-bench.csv
        fi

    - name: Upload log files
      if: always()
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
      with:
        name: boo-logs
        path: |
          output_artifacts/*.csv
          output_artifacts/version.txt

  # New job to push logs to amd-shark-ai-reports repository
  push_logs:
    name: "Push log for conv run"
    needs: [ test_boo ]
    if: always()
    runs-on: ubuntu-24.04
    steps:
      - name: Download log artifacts
        uses: actions/download-artifact@v7
        with:
          name: boo-logs
          path: logs
  
      - name: Checkout Target Repo
        if: always()
        uses: actions/checkout@v6
        with:
          repository: nod-ai/amd-shark-ai-reports
          token: ${{ secrets.AMD_SHARK_AI_GITHUB_TOKEN }}
          path: amd-shark-ai-reports
  
      - name: Generate Comparison
        if: github.event_name == 'workflow_dispatch'
        run: |
            cd amd-shark-ai-reports
            export LATEST_DATE=$(ls -1 boo/boo-nightly | sort | tail -n 1)
  
            if [ "${{ inputs.run_all_proxy }}" = "true" ]; then
              echo "1"
              python github-actions/new_boo_comp.py --current-file "../logs/all_proxy_miopen_iree.csv" --baseline-file "boo/boo-nightly/${LATEST_DATE}/all_proxy_miopen_iree.csv" --output-file "../logs/comparison/current_vs_${LATEST_DATE}_all_proxy_iree.md" --threshold 0.05 --total-arguments 1071 || echo "failure in all_proxy"
            fi
  
            if [ "${{ inputs.run_gemm }}" = "true" ]; then
              echo "2"
              python github-actions/new_boo_comp.py --current-file "../logs/gemm_miopen_iree.csv" --baseline-file "boo/boo-nightly/${LATEST_DATE}/gemm_miopen_iree.csv" --output-file "../logs/comparison/current_vs_${LATEST_DATE}_gemm_iree.md" --threshold 0.05 --total-arguments 320 || echo "failure in gemm"
            fi
  
            if [ "${{ inputs.run_prod_conv }}" = "true" ]; then
              echo "3"
              python github-actions/new_boo_comp.py --current-file "../logs/prod_conv_miopen_iree.csv" --baseline-file "boo/boo-nightly/${LATEST_DATE}/prod_conv_miopen_iree.csv" --output-file "../logs/comparison/current_vs_${LATEST_DATE}_prod_conv_iree.md" --threshold 0.05 --total-arguments 476 || echo "failure in prod conv"
            fi
  
            if [ "${{ inputs.run_batch_norm }}" = "true" ]; then
              echo "4"
              python github-actions/new_boo_comp.py --current-file "../logs/batch_norm_miopen_iree.csv" --baseline-file "boo/boo-nightly/${LATEST_DATE}/batch_norm_miopen_iree.csv" --output-file "../logs/comparison/current_vs_${LATEST_DATE}_batch_norm_miopen_iree.md" --threshold 0.05 --total-arguments 476 || echo "Failure in batchnorm"
            fi
  
            if [ "${{ inputs.run_hipblaslt }}" = "true" ] && [ "${{ inputs.run_gemm }}" = "true" ]; then
              echo "5"
              python github-actions/new_boo_comp_hipblaslt_iree.py --hipblaslt-file "../logs/gemm_hipBlaslt-bench.csv" --iree-file "../logs/gemm_miopen_iree.csv" --output-csv "../logs/comparison/gemm_iree_hipblaslt_comparison.csv" || echo "failure in hipblaslt"
            fi
  
            cd ..
            ls -R logs
  
      - name: Setup reports
        if: always()
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email ""
          if [ "${{ github.event_name }}" = "schedule" ]; then
            date=$(date -u +'%Y-%m-%d')
            OUTPUT_DIR="amd-shark-ai-reports/boo/boo-nightly/$date/"
            mkdir -p $OUTPUT_DIR
            echo "OUTPUT_DIR=$OUTPUT_DIR" >> $GITHUB_ENV
          else
            date=$(date -u +'%Y-%m-%d_%H-%M')
            OUTPUT_DIR="amd-shark-ai-reports/boo/boo-custom-runs/$date/"
            mkdir -p $OUTPUT_DIR
            echo "OUTPUT_DIR=$OUTPUT_DIR" >> $GITHUB_ENV
          fi
  
      - name: Push artifacts
        if: always()
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            mkdir -p $OUTPUT_DIR/comparison/
            cp -v logs/comparison/*.md $OUTPUT_DIR/comparison/
          fi
          cp -v logs/*.csv $OUTPUT_DIR || true
          cp -v logs/version.txt $OUTPUT_DIR
          cd amd-shark-ai-reports/boo
          git pull
          git add .
          git commit -m "Add conv report on $(date -u +'%Y-%m-%d')"
          git push origin main
          rm -rf ../logs
