# Copyright 2025 Advanced Micro Devices, Inc.
#
# Licensed under the Apache License v2.0 with LLVM Exceptions.
# See https://llvm.org/LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

name: CI - Boo on Mi355

on:
  workflow_dispatch:
  pull_request:
  schedule:
    # Run every 6 hour starting from 0h 30min on all days
    - cron: "30 */6 * * *"

permissions:
  contents: write

concurrency:
  # A PR number if a pull request and otherwise the commit hash. This cancels
  # queued and in-progress runs for the same PR (presubmit) or commit
  # (postsubmit). The workflow name is prepended to avoid conflicts between
  # different workflows.
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  test_llama_large:
    if: ${{ github.repository_owner == 'nod-ai' || github.event_name != 'schedule' }}
    timeout-minutes: 240
    name: "Boo on Mi355"
    strategy:
      matrix:
        version: [3.12]
      fail-fast: false
    runs-on: linux-mi355-1gpu-ossci-nod-ai
    defaults:
      run:
        shell: bash
    env:
      VENV_DIR: ${{ github.workspace }}/.venv
      OFFLINE_SERVING: DISABLED
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: "Setting up Python"
      id: setup_python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{matrix.version}}
    - name: Create Python venv
      run: |
        python -m venv ${VENV_DIR}
        source ${VENV_DIR}/bin/activate
    - name: Install pip deps
      run: |
        source ${VENV_DIR}/bin/activate
        python -m pip install --force-reinstall \
          --index-url https://rocm.nightlies.amd.com/v2/gfx950-dcgpu/ \
          --pre torch torchaudio torchvision

        git clone https://github.com/pdhirajkumarprasad/iree-turbine.git -b dhirajp/for_mi350_runner
        cd iree-turbine
        pip install -r requirements.txt 
        pip install -r requirements-iree-unpinned.txt
        pip install --no-deps -e .
        cd -

    - name: Run all proxy config
      run: |
       source ${VENV_DIR}/bin/activate
       export HIP_DYLIB_PATH=$(python -c "import rocm_sdk;print(rocm_sdk.find_libraries('amdhip64')[0].absolute())")
       export IREE_PY_RUNTIME_FLAGS="--hip_dylib_path=file:${HIP_DYLIB_PATH}"
       cd iree-turbine
       pip list
       iree-boo-driver conv
       
    #- name: Upload log files
    #  if: always()
    #  uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
    #  with:
    #    name: llama-logs
    #    path: |
    #      output_artifacts/*.csv
    #      output_artifacts/version.txt
